@import "common.styles.css";

.container {
  border: 1px solid #9e9e9e;
  padding: 2px;
}
.input input {
  margin: 4px 3px 0;
  height: 20px;
  border: 0;
}
input:focus {
  outline: none;
}
.selectedTags {
  display: inline-block;
}
.input {
  display: inline-block;
}
