.image > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}

.name {
  font-size: small;
}
